<h1>StepsSubscribe#step3</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

3 out of 3
<hr>

<p>
    Your subscription is saved
</p>

<p>
    Thanks a lot from the athlete
</p>


<%= link_to "Home", root_path, class: "w-100 btn btn-primary" %>
