
<% if user_signed_in? %>
  
  <p style="color: green"><%= notice %></p>

  <% if @fan.present? %>
    <%= render partial: 'fans/fan', locals: { fan: @fan } %>
  <% end %>

  <% if @athlete.present? %>
    <%= render partial: 'athletes/athlete', locals: { athlete: @athlete } %>
  <% end %>
  <%#= render @user %>

<% end %>