
<% if user_signed_in? %>
  
  <p style="color: green"><%= notice %></p>
  <%= render @user %>

  <hr>

  <% if @fan.present? %>
    <%= render partial: 'fans/fan', locals: { fan: @fan } %>
  <% end %>

  
<hr>
    


<% end %>