<div id="<%= dom_id athlete %>">
  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= athlete.discipline %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= athlete.bio %>
  </p>

</div>
