<div id="<%= dom_id athlete %>">

  <h4> profile athlete  </h4>

  <p>
    <strong>Name:</strong>
    <%= athlete.name %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= athlete.discipline %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= athlete.bio %>
  </p>


</div>


