<h1>StepsAthlete#step3</h1>
<p>Find me in app/views/steps_athlete/step3.html.erb</p>

<%= render 'campaigns/form', campaign: Campaign.new %>



<%= link_to "Finalize",  root_path, class: "btn btn-primary btn-form fw-bold" %>
