<h1>StepsAthlete#step2</h1>
<p>Find me in app/views/steps_athlete/step2.html.erb</p>

<%= render 'athletes/form', athlete: Athlete.new %>



<%= link_to "step 3",  steps_athlete_step3_path, class: "btn btn-primary btn-form fw-bold" %>
