<h1>StepsAthlete#step1</h1>
<p>Find me in app/views/steps_athlete/step1.html.erb</p>


<%= render 'steps_athlete/registration_form', resource_name: User.new %>





<%= link_to "step 2",  steps_athlete_step2_path, class: "btn btn-primary btn-form fw-bold" %>
