<div id="<%= dom_id fan %>">

  <h4> profile fan  </h4>
  <p>
    <strong>Pseudo:</strong>
    <%= fan.pseudo %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= fan.bio %>
  </p>

  <p>
    <strong>User:</strong>
    <%= fan.user.email %>
  </p>


</div>
