<div id="<%= dom_id post %>">

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <div class="card">  
    <%= image_tag(post.image1, class:"img-fluid rounded") if post.image1.present? %> 
    <%= video_tag(url_for(post.file), class: "bg-primary p-2") if post.file.present? %>
  </div>

</div>
